.vs
.idea
models
temp
__pycache__
*.mp4
*.pth
/start.bat
/env
.vscode
output
temp
config.yaml
run.bat
venv
start.sh
.github
*.png
AdaFace/
retinaface/
YoloFace/
arcface_pytorch/
Caffe2Pytorch/
HRNet-landmarks/
HRNet_Facial_Landmark_Detection/
pytorch_retina/
debug*